
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexReact</title>
</head>
<body class="container">
    <h1>This is the entry page.</h1>

    <br /><br /><br />
    <div id="basicreactcomponent"></div>
    <br /><br /><br />
    <div id="reactcomponentwithapidata"></div>


    <script src="~/dist/bundle_react.js"></script>
</body>
</html>
